body {
	font-family: 'Arial', sans-serif;
	background-color: #1a1a1a;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
}
header {
	background-color: #000000;
	border-bottom: 5px solid #ff0000;
	padding-top: 20px;
	text-align: center;
	position: sticky;
	top:0;
	z-index: 999;
}
header h1 {
	color: #ff0000;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0;
	line-height: 1.5em;
	margin-bottom:20px;
}
nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #ff0000;
	margin: 0;
	line-height: 2.5em;
}
nav ul li {
	margin: 0 15px;
}
nav ul li a {
	color: #1a1a1a;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
nav ul li a:hover {
	color: #ffffff;
}
.content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
}
.fragment {
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer {
	margin-top: 40px;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.footer-text {
	margin: 0;
}
h1 span{
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-size: 1.2em;
		color: red;
		font-weight: bold;
	}


/* HOME */
#home {	
	margin-top: -150px; /* ajusta esto a la altura de tu header */
}
.home-container {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 5px solid #ff0000;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	top:0;

}

.home-container img {
    width: 100%;
    height: auto;
}

/* FORMS */

.form_texte {	
	text-decoration: none;
}
.form_text:hover {	
text-decoration: none;
}

.forms-image-container {
	margin: 20px;
	width: 150px;
	height: 150px;
	border: 5px solid #ff0000;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.forms-image-container img {
	width: 100%;
	height: auto;
}

.forms-button-container {
	border: 2px solid #FF0000;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	/* transform: rotate(-45deg); Da problemas a la hora de subir */
}
.forms-button-container a {
	color: #fff;
	text-decoration: none;
	font-size: 2vw;
	font-weight: 900;
	display: flex;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
.forms-button-container:hover {
	background-color: #FF0000;
	color: #0f0f0f;
}

/* LOGIN */

.login-form {
	margin-top: 5em;
	background-color: #111;
	border: 2px solid #ff0000;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 10px #ff0000;
	border-radius: 10px;
	width: 33%;
	margin: auto;
}
.login-input[type="text"],
.login-input[type="password"] {
	background-color: #333;
	border: 1px solid #ff0000;
	color: #ff0000;
	padding: 10px;
	margin-top: 1em;
	width: 90%;
	align-self: center;
	font-size: 1em;
	border-radius: 10px;
}
.login-input[type="submit"] {
	margin-top: 1em;
	background-color: #ff0000;
	color: #000;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0px 0px 5px #ff0000;
	border-radius: 10px;
}
.login-input[type="submit"]:hover {
	background-color: #cc0000;
	box-shadow: 0px 0px 10px #ff0000;
	color: #fff;
}
.login{
	width: 90%;;
}
/* COOKIE */

.cookies {
	margin-top: 2rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	font-size: 1rem;
	color: #ff0000;
	font-weight: bold;
	margin-bottom: 0px;
}
.setCookie, .getCookie {
	background-color: #111;
	border: 2px solid #ff0000;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 10px #ff0000;
	border-radius: 10px;
	margin-bottom: 20px;
}
.cookie-text {
	color: #ff0000;
	font-size: 2vw;
	text-transform: uppercase;
	text-shadow: #ffff00 1px 1px 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	margin-bottom: 0;
	text-align: center;
	min-width: 400px;
}

.cookie-input[type="text"] {
	background-color: #333;
	border: 1px solid #ff0000;
	color: #ff0000;
	margin-top: 1em;
	padding: 10px;
	width: 90%;
	align-self: center;
	font-size: 1em;
	border-radius: 10px;
	margin-bottom: 1em;
}

.cookie-input[type="submit"] {
	background-color: #ff0000;
	color: #000;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	box-shadow: 0px 0px 5px #ff0000;
	display: inline-block;
	align-self: center;
	width: 90%;
	border-radius: 10px;
	margin-top: 1em;
}

.cookie-input[type="submit"]:hover {
	color: #cc0000;
	background-color: #333;
	box-shadow: 0px 0px 10px #ff0000;			
}

.cookie-img {
	margin: 20px 0;login
}

.cookie-img h2 {
	margin-top: 10px;
}
@media (max-width: 768px) {
	header h1 {
		font-size: 2em;
	}

	nav ul li a {
		font-size: 1em;
	}
}
@media (max-width: 480px) {
	header h1 {
		font-size: 1.5em;
	}
	nav ul {
		flex-direction: column;
		text-align: center;
	}
	nav ul li {
		margin: 10px 0;
	}
}

/* PRIVATE */

